# Bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.venv/
env/
venv/

# Logs and temp
*.log
*.tmp
*.bak
*.swp

# IDE/editor config
.vscode/
.idea/

# Git
.git
.gitignore

# Unit test cache
.pytest_cache/
.cache/

# Distribution
*.egg-info/
dist/
build/
